# Ignore build output
dist/
build/

# Ignore dependencies
node_modules/

# Ignore environment-specific files
.env

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore compiled JavaScript files
*.js
*.js.map

# Ignore TypeScript declaration files
*.d.ts